<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container py-5">
    <p class="alert alert-danger">
        Somthing went wrong
    </p>
</div>


<%- include('parts/footer') %>