<%- include('parts/header') %>
<%- include('parts/navbar') %>


<div class="container py-5">
    <p class="alert alert-danger">
        404 Page not Found
    </p>
</div>

<%- include('parts/footer')%>
<%- include('parts/footer')%>